/* ===============================
   FOOTER
================================ */

.site-footer{
  background:#f5f5f5;
  padding-top:60px;
}

/* container */

.container{
  max-width:1200px;
  margin:auto;
  padding:0 20px;
}

/* layout */

.footer-inner{
  display:grid;
  grid-template-columns:2fr 1fr 1fr 1fr;
  gap:50px;
  padding-bottom:40px;
}

/* logo */

.footer-logo{
  width:180px;
  margin-bottom:20px;
}

/* list */

.footer-col ul{
  list-style:none;
}

.footer-col ul li{
  margin-bottom:10px;
}

.footer-col ul li a{
  text-decoration:none;
  color:#666;
  transition:0.3s;
}

.footer-col ul li a:hover{
  color:#104079;
}

/* copyright */

.footer-bottom{
  border-top:1px solid #ddd;
  text-align:center;
  padding:20px;
  color:#666;
}
/* ===============================
   FOOTER RESPONSIVE
================================ */

@media(max-width:900px){

.footer-inner{
  grid-template-columns:1fr 1fr;
  gap:30px;
}

}

@media(max-width:600px){

.footer-inner{
  grid-template-columns:1fr;
}

.footer-logo{
  width:160px;
}

}
/* ===============================
   HEADER
================================ */

.site-header{
  background:#fff;
  border-bottom:1px solid #eee;
}

.header-inner{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:80px;
}

/* logo */

.header-logo img{
  height:45px;
}

/* navigation */

.main-nav ul{
  display:flex;
  list-style:none;
  gap:40px;
}

.main-nav a{
  text-decoration:none;
  color:#333;
  padding-bottom:6px;
}

/* active menu underline */

.main-nav .active a{
  border-bottom:3px solid #12ecc1;
}

/* button konsultasi */

.btn-konsultasi{
  background:#e6b800;
  padding:12px 22px;
  border-radius:10px;
  text-decoration:none;
  color:#fff;
  display:inline-block;
}

/* hover */

.btn-konsultasi:hover{
  background:#d4a600;
}
